.btn-register {
  background: $highlight;
  color: $white;

  &:hover {
    background-color: darken($highlight, 10%);
    color: $white;
  }
}

.btn-login-dark {
  border-color: $primary;
  color: $primary;
  background: $white;

  &:hover {
    background-color: $primary;
    color: $white;
  }
}

.modal-footer {
  justify-content: start;
  padding: 1rem 0 0 0;
}

#feedbackMessage,
#feedbackMessageLogin {
  display: none;
}

#spinner,
#spinnerLogin {
  display: none;
}

#spinner.show,
#spinnerLogin.show {
  display: block;
}
