.custom-navbar,
.form-control {
  background-color: $primary !important;
}

.search-bg {
  background-color: lighten($primary, 10%) !important;
  border-color: $secondary;
}

#userDropdown {
  margin-left: 0.6rem;
}

#registrationModal,
#loginModal,
#listingModal {
  .form-control {
    background-color: $white !important;
  }
}
