.custom-navbar,
.form-control {
  background-color: $primary !important;
  border-radius: 0.1rem;

  .navbar-brand {
    padding: 0;
  }

  #navbar-logo {
    width: 50px;
    height: auto;
  }

  .search-bg {
    background-color: white !important;
    border-color: $secondary;
    color: $gray-800;
  }

  .nav-link {
    color: $gray-400;
  }

  .nav-link.active {
    color: $white;
    text-decoration: underline;
  }
}

.dropdown-menu {
  background-color: $primary;

  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: lighten($primary, 10%) !important;
  }
}

#userDropdown {
  margin-left: 0.6rem;

  #userAvatar {
    width: 32px;
    height: 32px;
  }
}

#registrationModal,
#loginModal,
#listingModal,
#profileModal,
#bidForm {
  .form-control {
    background-color: $white !important;
  }
}
