body {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}

.slogan {
  font-weight: 300;
}

p.light-text {
  font-weight: 300;
}
