body {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}

.slogan {
  font-weight: 300;
}

p.light-text {
  font-weight: 300;
}

.heading-border {
  border-bottom: 2px solid $secondary;
  padding-bottom: 0.1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.terms {
  font-weight: 300;
  font-size: 0.9rem;
}
